{% extends "base.html" %}
{% block content %}
  <h1>Kirjaudu sisään</h1>
  
  <p>Uusi käyttäjä? Luo tunnukset <a href="{{base_path}}/kayttaja/uusikayttaja">tästä!</a></p>

  <form method="post" action="{{base_path}}/kayttaja/kirjaudu">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input name="nimi" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input name="salasana" class="form-control" type="password">
    </div>
      
    <p>
        <font color="red">{{virhe}}</font>
    </p>

    <button type="submit" class="btn btn-info">Kirjaudu sisään</button>
  </form>
{% endblock %}
