{% extends "base.html" %}
{% block content %}

<div>
    <h1>{{kayttaja.nimi}} &nbsp;<a href="{{base_path}}/kayttaja/poista/{{kayttaja.id}}" class="btn btn-danger">Poista käyttäjä</a></h1>
  
</div>

{% if virheet %}
    <div class="alert alert-danger">
      <ul>
        {% for virhe in virheet %}
          <li>{{virhe}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  <form method="post" action="{{base_path}}/kayttaja/muokkaa/{{kayttaja.id}}">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input name="nimi" value="{{kayttaja.nimi}}" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input name="salasana" value="{{kayttaja.salasana}}" class="form-control" type="text">
    </div>

    <button type="submit" class="btn btn-success">Muokkaa tietoja</button>
  </form>
{% endblock %}