{% extends "base.html" %}
{% block content %}
  <h1>Luo uusi äänestys</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="" type="text">
    </div>
    <div class="form-group">
      <label>Päättyy</label>
      <input class="form-control" value="" type="text">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Kirjautuminen pakollista
      </label>
    </div>
    <div class="form-group">
      <label>Ehdokkaat</label>
      <input class="form-control" value="" type="text">
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}